<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Customer Number:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

<form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
   <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px">
      <div fxLayout="column" fxFlex="30%">

            <mat-form-field class="example-full-width">
                <mat-label>Client Name</mat-label>
                <input
                    matInput
                    type="text"
                    matInput placeholder="John"
                    formControlName="clientname"
                >
            </mat-form-field>

            <!-- <mat-form-field class="example-full-width">
                <mat-label>Search Address</mat-label>
                <input
                    type="text"
                    matInput placeholder="Search Address Here...."
                    id="address"
                >
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Street Address 1</mat-label>
                <input
                    type="text"
                    matInput placeholder=""
                    [ngModel]="addressline1.value"
                    #addressline1 formControlName="address_1"
                    id="address_1"
                >

              </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Street Address 2</mat-label>
                <input
                    type="text"
                    ngModel matInput placeholder=""
                    [ngModel]="addressline2.value"
                    #addressline2 formControlName="address_2"
                    id="address_2"
                >
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Suburb</mat-label>
                <input
                    type="text"
                    matInput placeholder=""
                    [ngModel]="suburb.value"
                    #suburb formControlName="suburb"
                    id="suburb"
                >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Town/City</mat-label>
                <input
                    type="text"
                    matInput placeholder=""
                    [ngModel]="city.value"
                    #city formControlName="city"
                    id="city"
                >
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Post Code</mat-label>
                <input
                    type="text"
                    matInput placeholder=""
                    [ngModel]="postcode.value"
                    #postcode formControlName="postcode"
                    id="postcode"
                >
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>New Zealand</mat-label>
                  <select
                      matNativeControl
                      [disabled]="disableSelect.value"
                      formControlName="country"
                    >
                    <option value="" selected></option>
                    <option value="Cash">Cash</option>
                    <option value="Credit">VISA</option>
                    <option value="Master">Master</option>
                    <option value="debit">Debit</option>
                  </select>
            </mat-form-field> -->

                    <app-address formControlName="address"></app-address>





        </div>

    <div fxLayout="column" fxFlex="30%">
      <mat-form-field class="example-half1-width">
        <mat-label>Contact First Name</mat-label>
        <input
            matInput
            type="text"
            matInput placeholder="Auckland"
            formControlName="contfirstname"
        >
      </mat-form-field>

      <mat-form-field class="example-half1-width">
        <mat-label>Contact Last Name</mat-label>
        <input
            matInput
            type="text"
            matInput placeholder="Gorge"
            formControlName="contlastname"
        >
      </mat-form-field>

      <mat-form-field class="example-half1-width">
        <mat-label>Contact Email Address</mat-label>
        <input
            matInput
            type="email"
            matInput placeholder="test@gmail.com"
            formControlName="email"
        >
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <app-tel-input matInput formControlName="tel" required></app-tel-input>
        <mat-icon>phone</mat-icon>
      </mat-form-field>

      <!-- <app-tel-input></app-tel-input> -->



    </div>
    <div fxLayout="column" fxFlex="30%">
          <mat-form-field class="example-full-width">
        <mat-label>Payment Terms</mat-label>
        <select
            matInput
            matNativeControl [disabled]="disableSelect.value"
            formControlName="payterms"
        >
          <option value="" selected></option>
          <option value="Cash">Cash</option>
          <option value="Credit">VISA</option>
          <option value="Master">Master</option>
          <option value="debit">Debit</option>
        </select>
      </mat-form-field>

          <button type="submit" mat-raised-button class="savebtn">Save</button>
          <button type="clear" mat-raised-button class="cancelbtn">Cancel</button>


    </div>
  </div>
</form>
  </mat-card-content>
</mat-card>
