<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Customer Number:</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>

<div [formGroup]="form">
   <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="60px">
      <div fxLayout="column" fxFlex="30%">

            <mat-form-field class="example-full-width">
                <mat-label>Client Name</mat-label>
                <input type="text" matInput placeholder="John">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Search Address</mat-label>
                <input type="text" matInput placeholder="Search Address Here...." id="address">
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Street Address 1</mat-label>
                <input type="text" matInput placeholder="" id="address_1">
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Street Address 2</mat-label>
                <input type="text" matInput placeholder="" id="address_2">
            </mat-form-field>

             <mat-form-field class="example-full-width">
                <mat-label>Suburb</mat-label>
                <input type="text" matInput placeholder="" id="suburb">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Town/City</mat-label>
                <input type="text" matInput placeholder="" id="city">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Post Code</mat-label>
                <input type="text" matInput placeholder="" id="postcode">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>New Zealand</mat-label>
                  <select matNativeControl [disabled]="disableSelect.value">
                    <option value="" selected></option>
                    <option value="Cash">Cash</option>
                    <option value="Credit">VISA</option>
                    <option value="Master">Master</option>
                    <option value="debit">Debit</option>
                  </select>
            </mat-form-field>

        </div>

    <div fxLayout="column" fxFlex="30%">
      <mat-form-field class="example-half1-width">
        <mat-label>Contact First Name</mat-label>
        <input type="text" matInput placeholder="Auckland">
      </mat-form-field>

      <mat-form-field class="example-half1-width">
        <mat-label>Contact Last Name</mat-label>
        <input type="text" matInput placeholder="Gorge">
      </mat-form-field>

      <mat-form-field class="example-half1-width">
        <mat-label>Contact Email Address</mat-label>
        <input type="email" matInput placeholder="test@gmail.com">
      </mat-form-field>


      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <app-tel-input formControlName="tel" required></app-tel-input>
        <mat-icon>phone</mat-icon>
      </mat-form-field>

      <!-- <app-tel-input></app-tel-input> -->



    </div>
    <div fxLayout="column" fxFlex="30%">
          <mat-form-field class="example-full-width">
        <mat-label>Payment Terms</mat-label>
        <select matNativeControl [disabled]="disableSelect.value">
          <option value="" selected></option>
          <option value="Cash">Cash</option>
          <option value="Credit">VISA</option>
          <option value="Master">Master</option>
          <option value="debit">Debit</option>
        </select>
      </mat-form-field>

          <button mat-raised-button class="savebtn">Save</button>
          <button mat-raised-button class="cancelbtn">Cancel</button>


    </div>
  </div>
</div>
  </mat-card-content>
</mat-card>
