<div [formGroup]="form" #f="ngForm">

  <mat-form-field class="example-full-width">
    <input
        matInput
        placeholder="Search......"
        id="address"

    >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address Line 1</mat-label>
    <input
        matInput
        placeholder="Address Line 1"
        id="addressLine1"
        [ngModel]="addressLine1.value"
        #addressLine1 formControlName="addressLine1"
        required
    >
    <mat-error *ngIf="checkError('addressLine1', 'required')">Address is required</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Address Line 2</mat-label>
    <input
        matInput
        placeholder="Address Line 2"
        id="addressLine2"
        [ngModel]="addressLine2.value"
        #addressLine2 formControlName="addressLine2"
        required
     >
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Post Code</mat-label>
    <input
        matInput
        placeholder="Post code"
        id="postCode"
        [ngModel]="postCode.value"
        #postCode formControlName="postCode"
        required
    >
  </mat-form-field>
</div>
